@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
 
    
.login-page {
    margin: 30px 0 0 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik';
    background-image: url(../assets/Fondo1.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; /* Coloca el fondo en el fondo de la capa */
    overflow-y: hidden;
}


    .login-page main {
        width: 100%;
        padding: 20px;
        margin: auto;
        margin-top: 7%;
        height: 73vh;
    }
    .contenedor_todo {
        width: 100%;
        max-width: 800px;
        margin: auto;
        position: relative;
        z-index: 2; 
    }
    
    
    .caja_trasera{
      width: 100%;
      padding: 10px 20px;
      display: flex;
      justify-content: center;
        backdrop-filter: blur(10px);
       background-color: #3498db79;
       max-height: 420px;
    }
    
    .caja_trasera div{
        margin: 100px 40px;
        color: white;
        transition: all 500ms;
    }
    .caja_trasera div p{
        font-size: 16px;
        font-weight: 300;
    }
    
    .caja_trasera div button{
        margin-top: 30px;
        padding: 10px 40px;
        border: 2px solid white;
        border-radius: 4px;
        background: transparent;
        font-size: 14px;
        font-weight: 600;
        color: white;
        cursor: pointer;
        outline: none;
        transition: all 300ms;   
    }


    .caja_trasera button:hover{
        background: white;
        color: #3498db;
    }
    
    .caja_trasera div h3{
        font-weight: 400;
        font-size: 24px;
    }
    
    /*Formularios*/
    .contenedor_login-registrar {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 380px;
        position: relative;
        top: -380px;
        left: -200px;
        margin: auto;
        transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
        z-index: 3;
    }
    
    /* Cuando el formulario de login se mueve */
    .contenedor_login-registrar.moved {
        left: 200px;
        opacity: 1; 
        width: 100%;
        display: flex;
    }

    .formulario_login {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
     .formulario_registro {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;  
        padding: 10% 6% !important; 
     }
    
    /* Hacer que los formularios sean visibles */
    .formulario_hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
      
      .formulario_visible {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        width: 100%;
      }
      

      .formulario_login.formulario_visible {
        display: block;
      }
      
      .formulario_registro.formulario_visible {
        display: block;
      }
    
    .contenedor_login-registrar form{
        width: 100%;
        padding: 80px 20px;
        background: #d6dbdf;
        position: absolute;
        border-radius: 20px;
        position: relative;
    
    }
    
    .contenedor_login-registrar form h2{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        color:#3498db;
    }
    
    .contenedor_login-registrar form input{
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        border: none;
        background: white;
        font-size: 16px;
        outline: none;
        border-radius: 4px;
    }
    
    .contenedor_login-registrar form button {
        padding: 10px 40px;
        margin-top: 40px;
        border: none;
        font-size: 14px;
        background: #3498db ;
        color: white;
        cursor: pointer;
        outline: none;
    }
    .contenedor_login-registrar form button:hover{
        background:#3498db6c;
        color: white;
    }

    .password-validation {
        margin-top: 5px;
        font-size: 20px;
      }
      
      .password-feedback {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
      }
      
      .error-message {
        color: #212f3c;
        font-size: 15px;
        display: flex;
        align-items: center;
      }
      
      .valid-message {
        color: #212f3c;
        font-size: 15px;
        display: flex;
        align-items: center;
      }
      
      .invalid-icon,
      .valid-icon {
        margin-left: 10px;
      }
      
      .invalid-icon {
        color: red;
      }
      
      .valid-icon {
        color: green;
      }
      
    
    
    /* Responsive design*/
    @media screen and (max-width: 1800px) {
        .login-page {
            margin: 14px 0 0 0 !important;
            height: 100vh;
        }
    
    }

    @media screen and (max-width: 1500px) {
        .login-page {
            margin: 16px 0 0 0 !important;
        }
    
    }

    @media screen and (max-width: 980px) {
        .login-page {
            margin: 10px 0 0 0 !important;
        }
        .contenedor_login-registrar {
            width: 320px;
            margin-top: -5% !important;
        }
        .contenedor_login-registrar.moved {
            left: 200px;
            opacity: 1; 
            width: 320px;
            display: flex;
        }

        
    }

    
    @media screen and (max-width: 720px) {

       
        .contenedor_login-registrar {
            width: 280px;
            margin: -5% 0 0 30% !important;
        }
        .contenedor_login-registrar.moved {
            left: 200px;
            opacity: 1; 
            width: 300px;
            display: flex;
            margin: -5% 0 0 15% !important;
        }
    }

    @media screen and (max-width: 610px) {
        .login-page {
            margin: 8px 0 0 0 !important;
        }
       
        .contenedor_login-registrar {
            width: 240px;
            margin: -5% 0 0 35% !important;
        }
        .contenedor_login-registrar.moved {
            left: 140px;
            opacity: 1; 
            width: 240px;
            display: flex;
            margin: -5% 0 0 25% !important;
        }
    }

    @media screen and (max-width: 520px) {
        .login-page {
            margin: 8px 0 0 0 !important;
        }
       
        .contenedor_login-registrar {
            width: 200px;
            margin: -5% 0 0 50% !important;
        }
        .contenedor_login-registrar.moved {
            left: 140px;
            opacity: 1; 
            width: 200px;
            display: flex;
            margin: -5% 0 0 20% !important;
        }
    }

    @media screen and (max-width: 410px) {
        .login-page {
            margin: 5px 0 0 0 !important;
        }

        .caja_trasera {
            display: flex;
            margin: 0 !important;
            padding: 0 !important;
        }

        .caja_trasera div p{
            font-size: 14px;
        }
        
        .caja_trasera div button{
            margin-top: 30px;
            padding: 8px 20px;
            border-radius: 4px;
            font-size: 12px;
  
        }
        
        .caja_trasera div h3{
            font-size: 18px;
        }

        .contenedor_login-registrar {
            width: 200px;
            margin: -5% 0 0 55% !important;
            display: flex;
            justify-content: space-between;
        }
        .contenedor_login-registrar.moved {
            left: 140px;
            opacity: 1; 
            width: 200px;
            display: flex;
            margin: -5% 0 0 5% !important;
        }
    }