@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.background-primero {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 20% 25%;
    margin: 0;
    padding:0;
}

.intro-primero {
    display: flex;
    flex-direction: row;
    background-color: #d6dbdf;
}

.seccion-primero {
    overflow-x: hidden;
    background-color: #d6dbdf;
}

.seccion-primero h1 {
    left: 10%;
    transform: translate(0%, -300%);
    font-size: 80px;
    font-family: 'Rubik';
    text-align: center;
    color: transparent; 
    font-weight: 800; 
    -webkit-text-stroke: 3px white;
}

.seccion-primero h2 {
    left: 10%;
    transform: translate(0%, -680%);
    color: white;
    font-size: 35px;
    text-align: center; 
    font-family: 'Rubik';
    font-weight: 100;
}

.primero-presentacion {
    display: flex;
    margin: 0 7%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.primero-presentacion h3 {
    font-size: 45px;
    font-family: 'Rubik';
    text-align: center;
    font-weight: 600; 
    color: #212f3c;
    margin-top: 1%;
    margin-bottom: 2%;
}

.primero-presentacion h4 {
    font-size: 30px;
    font-family: 'Rubik';
    text-align: center; 
    font-weight: 200; 
    color: #1889d4;
}

.primero-presentacion p {
    font-size: 20px;
    font-family: 'Rubik';
    text-align: center;
    justify-content: center;
    font-weight: 400; 
    color: #212f3c;
    margin-top: 1%;
    width: 50%;
}

.primero-btn {
    padding: 10px 40px;
    margin: 1% 20% 6% 20% ;
    border: none;
    font-size: 14px;
    background: #1889d4 ;
    color: white;
    cursor: pointer;
    outline: none;
    width: 15%;
}

.primero-btn:hover {
    background: #0c9eff;
}

.primero-mapa {
    display: flex; 
    flex-direction: column;              
    justify-content: center;   
    align-items: center;
    background-color: #b7bdc2;   
}

.donde-container {
    display: flex; 
    flex-direction: column;              
    justify-content: center;   
    align-items: center;
}

.primero-mapa h5 {
    font-size: 50px;
    font-family: 'Rubik';
    text-align: center;
    color: transparent; 
    font-weight: 600; 
    -webkit-text-stroke: 2px #1889d4;
    margin-top: 5%;
}

.primero-mapa h6 {
    font-size: 30px;
    font-family: 'Rubik';
    text-align: center;
    justify-content: center;
    font-weight: 800; 
    color: #212f3c;
    margin-top: 1%;
    width: 50%;
}
.primero-mapa p {
    font-size: 20px;
    font-family: 'Rubik';
    text-align: center;
    justify-content: center;
    font-weight: 200; 
    color: #212f3c;
    margin-top: 1%;
    width: 50%;
}

  
.mapa-container {
    width: 60%;
    height: 55vh;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: transparent ;
  }
  
.mapa-container > .leaflet-container {
    width: 100% ;
    height: 100% ; 
    border: none;
    padding: 0;
    margin: 0;  
  }
  

  .consejos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }

  .icono-primero {
    width: 120px;
    height: auto;
    background-color: #1889d4;
    border: 5px solid #1889d4 ;
    border-radius: 50%;
    padding: 5%;
    margin: -35%  10% 10% 30% ;
  }


  .col3-primero {
    border: 5px solid #1889d4 ;
    margin: 5% 2%;
    padding: 3%;
    min-height: 570px;
    width: 25%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 40%;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.info-primero h5 {
    font-size: 30px;
    font-family: 'Rubik';
    text-align: center;
    color: transparent; 
    font-weight: 900; 
    -webkit-text-stroke: 2px #1889d4;
    margin-top: -5%;
}

.info-primero p {
    font-size: 18px;
    font-family: 'Rubik';
    text-align: center;
    color: #212f3c; 
    font-weight: 400; 
    padding-bottom: 7%;
    width: 80%;
    margin-left: 10%;
}

@media screen and (max-width: 1400px) {
    .col3-primero {
        height: 95vh !important;
    }
}

@media screen and (max-width: 1150px) {
    .consejos-container {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .col3-primero {
        width: 40%;
        height: auto !important;
    }
    .icono-primero {
        margin: -25%  10% 10% 30% ;
      }
    
}

@media screen and (max-width: 890px) {
    .primero-presentacion {
        margin: -10% 0 7% 7%;
    }
    .primero-btn {
        width: 25%;
        display: flex;
        justify-content: center;
        margin: 10% 40%;
    }
    .seccion-primero h1 {
        left: 10%;
        transform: translate(0%, -130%) !important; 
    }

    .seccion-primero h2 {
        left: 90%;
        transform: translate(0%, -480%) !important;
    }
}

@media screen and (max-width: 550px) {
    .background-primero {
        height: 60vh;
        margin-top: 10% !important;
        padding:0;
    }

    .seccion-primero h1 {
       font-size: 60px ;
       transform: translate(0%, -190%) !important; 
    }

    .primero-presentacion h3 {
        font-size: 35px;
    }
    
    .primero-presentacion h4 {
        font-size: 28px;
    }

    .primero-presentacion p {
        font-size: 18px;
    }

    .primero-mapa h5 {
        font-size: 45px;
    }
    
    .primero-mapa h6 {
        font-size: 26px;
    }
    .primero-mapa p {
        font-size: 18px;
    }
   
    .info-primero p {
        font-size: 16px;
    }   
    
}

@media screen and (max-width: 410px) {
    .seccion-primero h1 {
        font-size: 40px;
        font-weight: 900;
        -webkit-text-stroke: 2px white;
    }
    .icono-primero {
        width: 100px;
        padding: 3%;
        margin: -35%  10% 10% 20% ;
      }
      .col3-primero {
        width: 60%;
        margin-top: 18% !important;
      }

}