@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.background-tarifas {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 20% 25%;
    margin: 0;
    padding:0;
    display: flex;

}
.seccion-tarifas {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url('../assets/textura2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
.tarifas-container.row {
    padding: 0;
    width: 100%;
    height: fit-content;
    max-height: 50vh;
    display: flex;
}


.seccion-tarifas h2 {
    left: 10%;
    transform: translate(0%, -300%);
    font-size: 80px;
    font-family: 'Rubik';
    text-align: center;
    color: transparent; 
    font-weight: 800; 
    -webkit-text-stroke: 3px white;
}

.seccion-tarifas h6 {
    left: 10%;
    transform: translate(0%, -680%);
    color: white;
    font-size: 35px;
    text-align: center; 
    font-family: 'Rubik';
    font-weight: 100;
}

.tarifas-intro{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.tarifas-intro h3 {
    font-size: 56px;
    font-family: 'Rubik';
    text-align: center;
    color: transparent; 
    font-weight: 800; 
    color: #212f3c;
    margin-top: 3%;
    margin-bottom: 3%;
}

.imagen-centro {
    width: 50%; 
    height: 50%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-left: 25%;
}

.imagen-centro img {
    width: 70%;
    height: auto;
    border-radius: 10px;
}



.tarifas-row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.tarifas-row.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}



.tarifa-card {
    border: 5px solid #1889d4 ;
    margin: -7% 10%;
    padding: 8%;
    min-height: 700px;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 40%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}


.intro-tarifas {
    background-image: url('../assets/textura2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 50vh;
}

.col1-tarifas {
    width: 30%;
    margin: 0% 2%;
}

.col2-tarifas {
    width: 30%;
    display: flex;
    margin: 0% 2%;
}

.tarifa-card h4{
    font-size: 40px;
    font-family: 'Rubik';
    text-align: center;
    color: transparent; 
    font-weight: 600; 
    -webkit-text-stroke: 2px #1889d4;
    margin-top: -5%;
}



.tarifa-card h5 {
    font-size: 25px;
    font-family: 'Rubik';
    text-align: center;
    color: #1889d4; 
    font-weight: 700; 
    margin-top: 2%;
} 

.tarifa-card p {
    font-size: 18px;
    font-family: 'Rubik';
    text-align: center;
    color: #0c639e; 
    font-weight: 400; 
    padding-bottom: 7%;
}

.tarifa-card .precios {
    border: 3px solid #1889d4;
    background-color: #1889d4;
    border-radius: 30%;
    padding: 10px;
    margin-left: 120%;
    margin-top: -40%;
    width: 10vh;
    color: aliceblue;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.tarifa-item {
    display: flex;
    flex-direction: column;
}


.tarifa-item1 {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.tarifas-intro p {
    font-size: 24px;
    font-family: 'Rubik';
    text-align: center;
    color: transparent; 
    font-weight: 200; 
    color: #212f3c;
    margin-bottom: 3%;
    margin-top: -2%;
}